.appBar {
  color: aqua;
}
.navbarElement {
  display: flex;
  margin-right: 1px;
  gap: 5px;
}
.navbarElementLight {
  color: black;
}

.myClassName {
  margin-right: 8px;
  display: none;
}

@media (min-width: 768px) {
  .myClassName {
    display: flex;
  }
}

.myClassName {
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: inherit;
  text-decoration: none;
}

.menuItem {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 !important;
}

@media (min-width: 768px) {
  .menuItem {
    display: none;
  }
}

.elementText {
  font-family: system-ui;
  color: rgb(0, 0, 0);
  font-size: 1rem in !important;
}

.elementTextLight {
  font-family: system-ui;
  color: rgb(0, 255, 238);
  font-size: 1rem in !important;
}
