.intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.profile {
  position: absolute;
  top: 6rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.introName {
  color: #3dcfb6;
}
.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}

.hireMeBtn {
  margin-top: 1rem;
  color: #161616;
  background-color: #3dcfb6;
  padding: 0.3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem;
  font-size: medium;
  border: none;
}
.hireMeIcon {
  margin-right: 0.7rem;
  width: 2rem;
  height: 2rem;
}
.circle {
  border-right: 1px solid rgb(61, 207, 182, 0.8);
  padding: 0;
  position: absolute;
  top: 13rem;
  right: 0;
  height: 100vh;
  width: 30vw;
  z-index: -3;
  border-radius: 50%;
  /* box-shadow: inset 10px 10px 10px white; */
}

@media screen and (max-width: 666px) {
  .intro {
    height: calc(100vh - 12rem);
  }
  .introName {
    color: rgba(6, 238, 215);
  }
  .profile {
    left: 0;
    top: -1rem;
    height: fit-content;
    border-bottom: 2px solid #0e0e0e;
    border-radius: 10px;
    box-shadow: inset -3px -3px 100px black;
  }
  .introContent {
    justify-content: center;
  }
  .intro {
    max-width: 100vw;
  }
  .introContent {
    padding: 8rem 0.5rem 0 0.5rem;
  }
  .circleThree {
    display: none;
  }
  .circleTwo {
    display: none;
  }
  .circle {
    display: none;
  }
  .hello {
    font-weight: 300;
    color: rgb(244, 243, 241);
  }
}
