* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #161616;
  color: #f3f9f8;
  overflow: hidden;
  overflow-y: scroll;
}
